.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e78ed;
    padding: 10px;
}

.menu{
    display: flex;
    justify-content: start;
}

.menu-item {
    border-right: 1px solid black;
}

.end-menu{
    display: flex;
    justify-content: end;
}
.menu-button {
    background-color: transparent;
    border: none;
    padding: 0 30px;
    height: 100%;
}

.logo {
    width: 75px;
}
